In [5]:
import pandas as pd
import numpy as np

In [6]:
import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib inline

## use Python datetime

In [8]:
from datetime import datetime
now=datetime.now()
now

datetime.datetime(2018, 8, 14, 13, 49, 45, 739524)

In [9]:
print(now.isoformat())

2018-08-14T13:49:45.739524

## parse string to datetime

In [10]:
datetime.strptime('2018-09-02  13:00',  '%Y-%m-%d  %H:%M')

datetime.datetime(2018, 9, 2, 13, 0)

In [11]:
date1=pd.to_datetime('5th of august,2018')

In [12]:
date1

Timestamp('2018-08-05 00:00:00')

In [13]:
type(date)

pandas._libs.tslibs.timestamps.Timestamp

In [6]:
date.strftime('%A')

'Sunday'

In [7]:
date1=pd.to_datetime('2018-08-06')

In [8]:
date1

Timestamp('2018-08-06 00:00:00')

In [9]:
ii=pd.DatetimeIndex(['2014-07-04','2014-08-04','2015-07-04'])

In [11]:
ii

DatetimeIndex(['2014-07-04', '2014-08-04', '2015-07-04'], dtype='datetime64[ns]', freq=None)

In [12]:
type(ii)

pandas.core.indexes.datetimes.DatetimeIndex

In [16]:
data=pd.Series([0,1,3],index=ii)

In [17]:
data

2014-07-04    0
2014-08-04    1
2015-07-04    3
dtype: int64

In [15]:
pd.date_range('1989-09-02','1990-11-16')

DatetimeIndex(['1989-09-02', '1989-09-03', '1989-09-04', '1989-09-05',
               '1989-09-06', '1989-09-07', '1989-09-08', '1989-09-09',
               '1989-09-10', '1989-09-11',
               ...
               '1990-11-07', '1990-11-08', '1990-11-09', '1990-11-10',
               '1990-11-11', '1990-11-12', '1990-11-13', '1990-11-14',
               '1990-11-15', '1990-11-16'],
              dtype='datetime64[ns]', length=441, freq='D')

In [4]:
pd.date_range('1989-09-02','1989-09-08')

DatetimeIndex(['1989-09-02', '1989-09-03', '1989-09-04', '1989-09-05',
               '1989-09-06', '1989-09-07', '1989-09-08'],
              dtype='datetime64[ns]', freq='D')

## use date_range to create date sequence

In [7]:
id1=pd.date_range('1999-12-25','2000-01-05')

In [8]:
print(id1)

DatetimeIndex(['1999-12-25', '1999-12-26', '1999-12-27', '1999-12-28',
               '1999-12-29', '1999-12-30', '1999-12-31', '2000-01-01',
               '2000-01-02', '2000-01-03', '2000-01-04', '2000-01-05'],
              dtype='datetime64[ns]', freq='D')

In [9]:
ary1=np.arange(12)

In [10]:
se1=pd.Series(ary1, index=id1)

## Pandas Time Series
## insex of se1 series is a date-time-index

In [11]:
se1

1999-12-25     0
1999-12-26     1
1999-12-27     2
1999-12-28     3
1999-12-29     4
1999-12-30     5
1999-12-31     6
2000-01-01     7
2000-01-02     8
2000-01-03     9
2000-01-04    10
2000-01-05    11
Freq: D, dtype: int64

In [12]:
se1.index.month

Int64Index([12, 12, 12, 12, 12, 12, 12, 1, 1, 1, 1, 1], dtype='int64')

## generate another time series

In [13]:
se2=pd.Series([100],index=pd.DatetimeIndex(['2000-12-05']))
print(se2)

2000-12-05    100
dtype: int64

In [14]:
se3=se1.append(se2)

In [15]:
se3

1999-12-25      0
1999-12-26      1
1999-12-27      2
1999-12-28      3
1999-12-29      4
1999-12-30      5
1999-12-31      6
2000-01-01      7
2000-01-02      8
2000-01-03      9
2000-01-04     10
2000-01-05     11
2000-12-05    100
dtype: int64

In [17]:
dfse=pd.DataFrame(se3,columns=['testcol'])
print(dfse)

            testcol
1999-12-25        0
1999-12-26        1
1999-12-27        2
1999-12-28        3
1999-12-29        4
1999-12-30        5
1999-12-31        6
2000-01-01        7
2000-01-02        8
2000-01-03        9
2000-01-04       10
2000-01-05       11
2000-12-05      100

In [20]:
#dfse.resample('M')['testcol'].max()
dfse.resample('M').max()

            testcol
1999-12-31      6.0
2000-01-31     11.0
2000-02-29      NaN
2000-03-31      NaN
2000-04-30      NaN
2000-05-31      NaN
2000-06-30      NaN
2000-07-31      NaN
2000-08-31      NaN
2000-09-30      NaN
2000-10-31      NaN
2000-11-30      NaN
2000-12-31    100.0

In [22]:
#dfse.groupby(dfse.index.month)['testcol'].max()
dfse.groupby(dfse.index.month).max()

    testcol
1        11
12      100

In [24]:
se3.groupby(se3.index.month).max()

1      11
12    100
dtype: int64

In [25]:
se3.groupby(se3.index.month).count()

1     5
12    8
dtype: int64

# example from https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.resample.html

In [3]:
index = pd.date_range('1/1/2000', periods=9, freq='T')
# T :  minute

In [27]:
index

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 00:01:00',
               '2000-01-01 00:02:00', '2000-01-01 00:03:00',
               '2000-01-01 00:04:00', '2000-01-01 00:05:00',
               '2000-01-01 00:06:00', '2000-01-01 00:07:00',
               '2000-01-01 00:08:00'],
              dtype='datetime64[ns]', freq='T')

In [28]:
series = pd.Series(range(9), index=index)

In [29]:
series.resample('3T').sum()

2000-01-01 00:00:00     3
2000-01-01 00:03:00    12
2000-01-01 00:06:00    21
Freq: 3T, dtype: int64

In [30]:
index = pd.date_range('1/1/2000', periods=79, freq='T')

In [31]:
index

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 00:01:00',
               '2000-01-01 00:02:00', '2000-01-01 00:03:00',
               '2000-01-01 00:04:00', '2000-01-01 00:05:00',
               '2000-01-01 00:06:00', '2000-01-01 00:07:00',
               '2000-01-01 00:08:00', '2000-01-01 00:09:00',
               '2000-01-01 00:10:00', '2000-01-01 00:11:00',
               '2000-01-01 00:12:00', '2000-01-01 00:13:00',
               '2000-01-01 00:14:00', '2000-01-01 00:15:00',
               '2000-01-01 00:16:00', '2000-01-01 00:17:00',
               '2000-01-01 00:18:00', '2000-01-01 00:19:00',
               '2000-01-01 00:20:00', '2000-01-01 00:21:00',
               '2000-01-01 00:22:00', '2000-01-01 00:23:00',
               '2000-01-01 00:24:00', '2000-01-01 00:25:00',
               '2000-01-01 00:26:00', '2000-01-01 00:27:00',
               '2000-01-01 00:28:00', '2000-01-01 00:29:00',
               '2000-01-01 00:30:00', '2000-01-01 00:31:00',
               '2000-01-01 00:32:00', '2000-01-01 00:33:00',
               '2000-01-01 00:34:00', '2000-01-01 00:35:00',
               '2000-01-01 00:36:00', '2000-01-01 00:37:00',
               '2000-01-01 00:38:00', '2000-01-01 00:39:00',
               '2000-01-01 00:40:00', '2000-01-01 00:41:00',
               '2000-01-01 00:42:00', '2000-01-01 00:43:00',
               '2000-01-01 00:44:00', '2000-01-01 00:45:00',
               '2000-01-01 00:46:00', '2000-01-01 00:47:00',
               '2000-01-01 00:48:00', '2000-01-01 00:49:00',
               '2000-01-01 00:50:00', '2000-01-01 00:51:00',
               '2000-01-01 00:52:00', '2000-01-01 00:53:00',
               '2000-01-01 00:54:00', '2000-01-01 00:55:00',
               '2000-01-01 00:56:00', '2000-01-01 00:57:00',
               '2000-01-01 00:58:00', '2000-01-01 00:59:00',
               '2000-01-01 01:00:00', '2000-01-01 01:01:00',
               '2000-01-01 01:02:00', '2000-01-01 01:03:00',
               '2000-01-01 01:04:00', '2000-01-01 01:05:00',
               '2000-01-01 01:06:00', '2000-01-01 01:07:00',
               '2000-01-01 01:08:00', '2000-01-01 01:09:00',
               '2000-01-01 01:10:00', '2000-01-01 01:11:00',
               '2000-01-01 01:12:00', '2000-01-01 01:13:00',
               '2000-01-01 01:14:00', '2000-01-01 01:15:00',
               '2000-01-01 01:16:00', '2000-01-01 01:17:00',
               '2000-01-01 01:18:00'],
              dtype='datetime64[ns]', freq='T')

In [32]:
 series = pd.Series(range(79), index=index)

In [33]:
series

2000-01-01 00:00:00     0
2000-01-01 00:01:00     1
2000-01-01 00:02:00     2
2000-01-01 00:03:00     3
2000-01-01 00:04:00     4
2000-01-01 00:05:00     5
2000-01-01 00:06:00     6
2000-01-01 00:07:00     7
2000-01-01 00:08:00     8
2000-01-01 00:09:00     9
2000-01-01 00:10:00    10
2000-01-01 00:11:00    11
2000-01-01 00:12:00    12
2000-01-01 00:13:00    13
2000-01-01 00:14:00    14
2000-01-01 00:15:00    15
2000-01-01 00:16:00    16
2000-01-01 00:17:00    17
2000-01-01 00:18:00    18
2000-01-01 00:19:00    19
2000-01-01 00:20:00    20
2000-01-01 00:21:00    21
2000-01-01 00:22:00    22
2000-01-01 00:23:00    23
2000-01-01 00:24:00    24
2000-01-01 00:25:00    25
2000-01-01 00:26:00    26
2000-01-01 00:27:00    27
2000-01-01 00:28:00    28
2000-01-01 00:29:00    29
                       ..
2000-01-01 00:49:00    49
2000-01-01 00:50:00    50
2000-01-01 00:51:00    51
2000-01-01 00:52:00    52
2000-01-01 00:53:00    53
2000-01-01 00:54:00    54
2000-01-01 00:55:00    55
2000-01-01 00:56:00    56
2000-01-01 00:57:00    57
2000-01-01 00:58:00    58
2000-01-01 00:59:00    59
2000-01-01 01:00:00    60
2000-01-01 01:01:00    61
2000-01-01 01:02:00    62
2000-01-01 01:03:00    63
2000-01-01 01:04:00    64
2000-01-01 01:05:00    65
2000-01-01 01:06:00    66
2000-01-01 01:07:00    67
2000-01-01 01:08:00    68
2000-01-01 01:09:00    69
2000-01-01 01:10:00    70
2000-01-01 01:11:00    71
2000-01-01 01:12:00    72
2000-01-01 01:13:00    73
2000-01-01 01:14:00    74
2000-01-01 01:15:00    75
2000-01-01 01:16:00    76
2000-01-01 01:17:00    77
2000-01-01 01:18:00    78
Freq: T, Length: 79, dtype: int64

In [34]:
series.resample('H').max()

2000-01-01 00:00:00    59
2000-01-01 01:00:00    78
Freq: H, dtype: int64

In [35]:
series.resample('3T').sum()

2000-01-01 00:00:00      3
2000-01-01 00:03:00     12
2000-01-01 00:06:00     21
2000-01-01 00:09:00     30
2000-01-01 00:12:00     39
2000-01-01 00:15:00     48
2000-01-01 00:18:00     57
2000-01-01 00:21:00     66
2000-01-01 00:24:00     75
2000-01-01 00:27:00     84
2000-01-01 00:30:00     93
2000-01-01 00:33:00    102
2000-01-01 00:36:00    111
2000-01-01 00:39:00    120
2000-01-01 00:42:00    129
2000-01-01 00:45:00    138
2000-01-01 00:48:00    147
2000-01-01 00:51:00    156
2000-01-01 00:54:00    165
2000-01-01 00:57:00    174
2000-01-01 01:00:00    183
2000-01-01 01:03:00    192
2000-01-01 01:06:00    201
2000-01-01 01:09:00    210
2000-01-01 01:12:00    219
2000-01-01 01:15:00    228
2000-01-01 01:18:00     78
Freq: 3T, dtype: int64